# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Uploaded files
uploads/pdfs/*
uploads/processed/*
uploads/chunks/*
uploads/embeddings/*

# OS files
.DS_Store
Thumbs.db